<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.16.1/axios.min.js"></script>
<div class="new_articles" id="title">
	<h1>添加新文章</h1>
	<el-form ref="form" :model="form" :rules="rules">
	  <el-form-item label="文章标题(title)" prop="title" >
	    <el-input v-model="form.title"></el-input>
	  </el-form-item>
	  <el-form-item label="短标题(short_title)" prop="short_title" >
	    <el-input v-model="form.short_title"></el-input>
	  </el-form-item>
	  <el-form-item label="关键字(keywords)" prop="keywords" >
	    <el-input v-model="form.keywords"></el-input>
	  </el-form-item>
	  <el-form-item label="描述(description)" prop="description" >
	    <el-input v-model="form.description"></el-input>
	  </el-form-item>
	  <el-form-item label="排序(数字越小越靠前)(sequence)" prop="sequence" >
	    <el-input v-model="form.sequence"></el-input>
	  </el-form-item>
	  <el-form-item label="类别(category)" prop="category" >
	    <template>
			  <el-select v-model="form.category" placeholder="">
			    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.label"></el-option>
			  </el-select>
			</template>
	  </el-form-item>
	  <template>
		  <el-checkbox v-model="form.is_select">是否为精选</el-checkbox>
		  <el-checkbox v-model="form.is_submit">是否为发布</el-checkbox>
		</template>
	  <!-- <el-form-item label="文章封面" prop="sequence" >
	    <el-input v-model="form.sequence"></el-input>
	  </el-form-item>
	  <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove"
      :file-list="fileList">
      <el-button size="small" type="primary">点击上传</el-button>
		  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
		</el-upload> -->
	  <el-form-item>
	    <el-button type="primary" @click="curdRequest('form')">保存</el-button>
	    <el-button  @click="resetForm('form')">返回</el-button>
	  </el-form-item>
	</el-form>
</div>
<script type="text/javascript">
	var vm = new Vue ({
		el: '#title',
		data:{
			value: '',
			htmlForEditor: null,
			actionName: '<%= raw action_name %>',
			form: {},
      options: [{
        value: '选项1',
        label: '日本'
      }, {
        value: '选项2',
        label: '亚洲'
      }, {
        value: '选项3',
        label: '澳大利亚'
      }, {
        value: '选项4',
        label: '新西兰'
      }, {
        value: '选项5',
        label: '美国'
      },{
        value: '选项6',
        label: '加拿大'
      },{
        value: '选项7',
        label: '海岛'
      },{
        value: '选项8',
        label: '极光'
      },{
        value: '选项9',
        label: '签证'
      },{
        value: '选项10',
        label: '欧洲'
      },{
        value: '选项11',
        label: '北欧'
      },{
        value: '选项12',
        label: '英国'
      },{
        value: '选项13',
        label: '酒店'
      },{
        value: '选项14',
        label: '美食'
      },{
        value: '选项15',
        label: '购物'
      },{
        value: '选项16',
        label: '定制游'
      },{
        value: '选项17',
        label: '海外婚礼'
      },{
        value: '选项18',
        label: '亲子游'
      }],
      rules: {
        title: [
          { required: true, message: '请输入文章标题名称', trigger: 'blur' },
          { min: 0, message: '长度大于0个字符', trigger: 'blur' }
        ],
        short_title: [
          { required: true, message: '请输入短标题名称', trigger: 'blur' },
          { min: 0, message: '长度大于0个字符', trigger: 'blur' }
        ],
        keywords: [
          { required: true, message: '请输入关键字', trigger: 'blur' },
          { min: 0, message: '长度大于0个字符', trigger: 'blur' }
        ],
        description: [
          { required: true, message: '请输入您的描述', trigger: 'blur' },
          { min: 0, message: '长度大于0个字符', trigger: 'blur' }
        ],
        sequence: [
          { required: true, message: '请输入排序数字', trigger: 'blur' },
          { min: 0, message: '长度大于0个字符', trigger: 'blur' }
        ],
        category: [
          { required: true, message: '请输入文章类别', trigger: 'blur' },
          { min: 0, message: '长度大于0个字符', trigger: 'blur' }
        ],
      },
		},
    created: function() {
      this.form= <%= raw @article.to_json %>
    },
		methods: {
      resetForm(formName) {
        this.$refs[formName].resetFields();
        window.location = '/articles'
      },
      curdRequest(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            switch (this.actionName) {
              case 'new':
                this.createPlan()
                break
              case 'edit':
                this.updatePlan(this.form.id)
                break
              default:
                break
            }
          } else {
            return false
          }
        })
      },
      createPlan() {
        axios.post('/articles.json', this.form).then((res) => {
          this.$message({ message: '创建文章成功', type: 'success' })
          window.location = '/articles'
        }).catch((error) => {
          this.handleError(error)
        })
      },
      updatePlan(id) {
        axios.patch('/articles/' + id, this.form).then(res => {
          this.$message({ message: '更新成功✅', type: 'success' })
          window.location = '/articles'
        }).catch(error => {
          this.handleError(error)
        })
      },
      handleError(error) {
        if (error.response.data.errors) {
          let error_info = ''
          let errors = error.response.data.errors
          for (item in errors) {
            error_info += item + ': ' + errors[item] + ' ; '
          }
          this.$message({ message: error_info, type: 'error' })
        } else {
          this.$message({ message: '创建失败', type: 'error' })
        }
      },
    }
	})
</script>