<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<div class="blog_articles" id="app">
	<div class="panel-heading"><h3>文章管理</h3></div>
	<el-form>
	  <el-form-item class="title">
	    <el-select  placeholder="文章标题筛选">
	    	<el-input></el-input>
	      <el-option label="日本亲子游：参见熊本熊部长大人" value="shanghai"></el-option>
	      <el-option label="区域二" value="beijing"></el-option>
	    </el-select>
	  </el-form-item>
	  <el-form-item>
	    <el-select  placeholder="活动区域">
	      <el-option label="区域一" value="shanghai"></el-option>
	      <el-option label="区域二" value="beijing"></el-option>
	    </el-select>
	  </el-form-item>
	</el-form>
</div>
<script>
	var vm = new Vue({
	  el: '#app',
	  data: {
	  	form: {
        // name: '',
        // region: '',
        // date1: '',
        // date2: '',
        // delivery: false,
        // type: [],
        // resource: '',
        // desc: ''
      }
	  }
	}) 
</script>
