<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<div class="blog_articles" id="app">
	<div class="panel-heading"><h3>文章管理</h3></div>
	<el-form>
	  <el-form-item class="title">
	    <el-select  placeholder="文章标题筛选">
	    	<el-input class="title_input"></el-input>
	    	<div class="list">
	    		<el-option label="文章标题筛选" value="文章标题筛选"></el-option>
		      <el-option label="日本亲子游：参见熊本熊部长大人" value="日本亲子游：参见熊本熊部长大人"></el-option>
		      <el-option label="圆梦在日本二次元的秋叶原" value="圆梦在日本二次元的秋叶原"></el-option>
		      <el-option label="何以日本旅行，一去再去" value="何以日本旅行，一去再去"></el-option>
		      <el-option label="夏与冬的北海道" value="夏与冬的北海道"></el-option>
		      <el-option label="四月去日本，漫步樱花下" value="四月去日本，漫步樱花下"></el-option>
	    	</div>
	    </el-select>
	  </el-form-item>
	  <el-form-item class="title short_title">
	    <el-select  placeholder="文章短标题筛选">
	      <el-input class="short_title_input"></el-input>
	    	<div class="list short_title_list">
	    		<el-option label="文章短标题筛选" value="文章短标题筛选"></el-option>
		      <el-option label="日本亲子游" value="日本亲子游"></el-option>
		      <el-option label="日本秋叶原" value="日本秋叶原"></el-option>
		      <el-option label="日本旅行" value="日本旅行"></el-option>
		      <el-option label="北海道旅游" value="北海道旅游"></el-option>
		      <el-option label="日本樱花旅游" value="日本樱花旅游"></el-option>
	    	</div>
	    </el-select>
	  </el-form-item>
	  <el-form-item class="title type">
	    <el-select  placeholder="类型筛选">
	      <el-input class="short_title_input"></el-input>
	    	<div class="list short_title_list">
	    		<el-option label="类型筛选" value="类型筛选"></el-option>
		      <el-option label="日本" value="日本"></el-option>
		      <el-option label="亚洲" value="亚洲"></el-option>
		      <el-option label="澳大利亚" value="澳大利亚"></el-option>
		      <el-option label="新西兰" value="新西兰"></el-option>
		      <el-option label="美国" value="美国"></el-option>
	    	</div>
	    </el-select>
	  </el-form-item>
	  <el-form-item class="title type">
	    <el-select  placeholder="精选？">
	      <el-input class="short_title_input"></el-input>
	    	<div class="list short_title_list">
	    		<el-option label="精选？" value="精选？"></el-option>
		      <el-option label="是" value="是"></el-option>
		      <el-option label="否" value="否"></el-option>
	    	</div>
	    </el-select>
	  </el-form-item>
	  <el-form-item class="title type">
	    <el-select  placeholder="发布？">
	      <el-input class="short_title_input"></el-input>
	    	<div class="list short_title_list">
	    		<el-option label="发布？" value="发布？"></el-option>
		      <el-option label="是" value="是"></el-option>
		      <el-option label="否" value="否"></el-option>
	    	</div>
	    </el-select>
	  </el-form-item>
	  <el-form-item label="创建日期筛选" class="title month">
	    <el-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 100%;"></el-date-picker>
	  </el-form-item>
	</el-form>
	<template>
	  <el-table :data="tableData" stripe style="width: 100%">
	    <el-table-column prop="id" label="id" width="180" style="width:20px" class="th1"></el-table-column>
	    <el-table-column prop="name" label="文章标题" style="width: 25%"></el-table-column>
	    <el-table-column prop="address" label="短标题" style="width: 10%"></el-table-column>
	    <el-table-column prop="type" label="类型" style="width: 10%"></el-table-column>
	    <el-table-column prop="select" label="精选？" style="width: 10%"></el-table-column>
	    <el-table-column prop="submit" label="发布？" style="width: 10%"></el-table-column>
	    <el-table-column prop="sort" label="排序" style="width: 10%"></el-table-column>
	    <el-table-column prop="date" label="创建日期" style="width: 10%"><el-date-picker type="date" placeholder="选择日期" v-model="form.date" style="width: 100%;"></el-date-picker></el-table-column>
	    <el-table-column label="操作">
      	<template scope="scope">
        	<el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
        	<el-button type="text" size="small">编辑</el-button>
        	<el-button type="text" size="small">删除</el-button>
      	</template>
    	</el-table-column>
	  </el-table>
	</template>
</div>
<script>
	var vm = new Vue({
	  el: '#app',
	  data: {
	  	form: {
        // name: '',
        // region: '',
        date: '',
        // date2: '',
        // delivery: false,
        // type: [],
        // resource: '',
        // desc: ''
      },
      tableData: [{
      		id:'1',
          date: '2016-05-02',
          name: '明星都热衷的巴厘岛婚礼',
          address: '巴厘岛婚礼',
          type:'海外婚礼',
          select:'是',
          submit:'是',
          sort:'4',
        }, 
        {	
        	id:'2',
          date: '2016-05-04',
          name: '新西兰婚礼',
          address: '新西兰婚礼',
          type:'海外婚礼',
          select:'否',
          submit:'是',
          sort:'8',
        }, 
        {
        	id:'3',
          date: '2016-05-01',
          name: '我盛大的希腊婚礼',
          address: '希腊婚礼',
          type:'海外婚礼',
          select:'否',
          submit:'是',
          sort:'3',
        }, 
        {
        	id:'4',
          date: '2016-05-03',
          name: '2016年新增免签国家',
          address: '中国护照免签国家',
          type:'海外婚礼',
          select:'否',
          submit:'是',
          sort:'6',
        }]
	  }
	}) 
</script>
