// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//文章列表页
.blog_articles {
	width:95%;
	margin:0 auto;
	.panel-heading {
		padding:10px 15px;
		color:#333;
		background-color: #f5f5f5;
		border:1px solid #ddd;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
		h3 {
			margin:0;
		}
	}
	.el-form {
		margin-top: 10px;
		.el-form-item {
			display: inline-block;
			margin-right: 15px;
			margin-top: 17px;
			.el-form-item__content {
				display: inline-block;
				.el-select .el-input__inner{
					border-color:#aaa;
				}
				.el-select .el-input__inner::placeholder{
					color:#444;
				}
				.el-select:hover .el-input__inner{
					border-color:#aaa;
				}
			}
		}
		.title {
			.el-form-item__content {
				.el-select {
					width:248px;
				}
			}
		}
		.short_title {
			.el-form-item__content {
				.el-select {
					width:200px;
				}
			}
		}
		.type {
			.el-form-item__content {
				.el-select {
					width:120px;
				}
			}
		}
		.month {
			.el-form-item__content {
				.el-select {
					width:120px;
				}
			}
		}
		.create_articles {
			float:right;
			margin-right: 0;
			cursor: pointer;
			outline: none;
			border:none;
			background-color: #20a0ff;
			width:100px;
			height:40px;
			border-radius:4px;
			margin-top: 15px;
			a {
				text-decoration: none;
				color:#ffffff;
				font-size:14px;
			}
		}
	}
	.el-table_1_column_1{
		width:5% !important;
	}
}
.el-select-dropdown {
	margin-top: 0 !important;
	.list{
		height:160px;
		overflow-y: scroll;
	}
	.short_title_list{
		height:160px;
		width:200px;
		overflow-y: scroll;
	}
	.el-input__inner {
		display: block;
		margin:0 auto;
		border-color:#aaa;
		outline: none;
		&:hover {
			border-color:#aaa;
		}
	}
	.short_title_input {
		display: inline-block;
	}
	.title_input .el-input__inner {
		width:240px;
		display: block;
		margin:0 auto;
		border-color:#aaa;
		outline: none;
		&:hover {
			border-color:#aaa;
		}
	}
	.short_title_input .el-input__inner{
		width:190px;
		margin:0 auto;
	}
}
.month .el-input__inner {
	border-color:#aaa !important;
	&:hover{
		border-color:#aaa !important;
	}
}
.month .el-input__innner {
	width:120px;
}
//添加新文章
.new_articles {
	padding-left: 20px;
	h1 {
		font-weight:400;
		margin-bottom: 5px;
	}
	.el-form-item {
		margin-bottom: 20px;
		.el-form-item__label {
			display: block;
			text-align: left;
			font-size: 12px;
			font-weight: bold;
			color:#333;
		}
		.el-form-item__label:before {
	    border-bottom: 1px solid #777;
	    height:10px;
	    display: inline-block;
		}
		.el-form-item__content {
			margin-left:0 !important;
			.el-input {
				input {
					outline:none;
					border-color:#ccc;
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
					&:focus {
				    border-color: #66afe9;
				    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
					}
				}	
			}
			.el-select {
				display: block;
				.el-input__icon {
					height:50%;
					top:73%;
				}
			}
		}
	}
}
